
 <div class="row justify-content-around" >
   
        
    <div *ngFor="let skills of Skills" class="col-4" >
      
    
    <span id="skill">{{skills.Skill}} </span>
    <div class="circle-wrap">
      <div class="circle">
        <div class="mask full">
          <div class="fill"></div>
        </div>
        <div class="mask half">
          <div class="fill"></div>
        </div>
        <div class="inside-circle"> {{skills.Percentage}} </div>
      </div>
    </div>
    </div>
    
 
</div>