<section class="Skills" id="skills">
      
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
      <span >SKILLS</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">
          create
        </span></button>
        <button   id="boton_agregar" ><span class="material-icons-outlined">
            add
        </span></button>
        <button   id="boton_eliminar" ><span class="material-icons-outlined">
            delete
        </span></button>
      </div>
    </div>
    <div class="row justify-content-around">
        
      <div class="col">
        
      
      <span id="skill">SKILL </span>
      <div class="circle-wrap">
        <div class="circle">
          <div class="mask full">
            <div class="fill"></div>
          </div>
          <div class="mask half">
            <div class="fill"></div>
          </div>
          <div class="inside-circle"> 75% </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="col">
        
      
          <span id="skill">SKILL </span>
          <div class="circle-wrap">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
              </div>
              <div class="inside-circle"> 75% </div>
            </div>
          </div>
          </div>
          <div class="col">
        
     
      </div>
    </div>
    </div>
</section>
