<section class="experiencia acerca_de" id="experiencia">
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
        <span >EXPERIENCIA</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">
          create
          </span></button>
          <button   id="boton_agregar" ><span class="material-icons-outlined">
            add
            </span></button>
            <button   id="boton_eliminar" > <span class="material-icons-outlined">
            delete
            </span></button>
      
    </div>
      </div>
      <div class="card estilo">
        <div class="card-body">
          <h5 class="card-title">INSTITUTO</h5>
          <p class="card-text">FORMACION</p>
          <p class="card-text"><small class="text-muted">AÑO</small></p>
        </div>
        
        <img src="./assets/src/001.png" class="card-img-bottom" alt="...">
      </div>
  
 
   </section>
