<section class="experiencia acerca_de" id="experiencia">
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
        <span >EXPERIENCIA</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">
          create
          </span></button>
          <button   id="boton_agregar" ><span class="material-icons-outlined">
            add
            </span></button>
            <button   id="boton_eliminar" > <span class="material-icons-outlined">
            delete
            </span></button>
      
    </div>
      </div>
      <app-experience-items>
        
      </app-experience-items>
  
 
   </section>
