<section class="educacion acerca_de" id="educacion">
      
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
      <span >EDUCACION</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">
        create
      </span></button>
      <button   id="boton_agregar" ><span class="material-icons-outlined">
          add
      </span></button>
      <button   id="boton_eliminar" ><span class="material-icons-outlined">
          delete
      </span></button>
      </div>
    </div>
    <div class="cardColor  estilo">
      <div class="card-body1">
        <p class="card-text">INSTITUTO:</p>
        <p class="card-text">FORMACION:</p>
        <p class="card-text">AÑO:</p>
      </div>
      <img src="./assets/src/obelisco.jpg" class="card-img-bottom" alt="...">
     </div>
   

   </section>