<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
           
      

                    <span class="navbar-brand mb-0 h1"><img src="./assets/src/APLogo-20-20 - copia.png" alt="logo ArgentinaPrograma"   ></span>
               
            
                <button class="navbar-toggler justify-content-end custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
           
               <ul class="navegacion_header nav ms-auto mb-2 mb-lg-0" >
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#">Home</a>
                 </li>
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#acerca_de">Acerca de mi</a>
                 </li>
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#educacion">Educacion</a>
                 </li>
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#experiencia">Experiencia</a>
                 </li>
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#skills">Skills</a>
                 </li>
                 <li class="nav_item">
                 <a class="nav_link active" aria-current="page" href="#proyectos">Proyectos</a>
                 </li>
                 <li class="nav_item">
                 <button class="nav_btn" type="submit" data-bs-toggle="modal" data-bs-target="#loguinModal">Login</button>
                 </li>
              </ul>
            </div>
        </div>
   
    </nav>
</header>
