<div *ngFor="let proyects of proyectos">
<div class="cardColor mb-3">
    <div class="container-video">
    <video id="video" controls autoplay>
      <source src="./assets/src/Comp 1.mp4" type="video/mp4">
      Tu navegador no soporta HTML5 video.
  </video>
  </div>
    <div class="card-body1">
      <p class="card-text">PROYECTO:{{proyects.Proyecto}}</p>
      <p class="card-text">AÑO:{{proyects.Anio}}</p>
      <p class="card-text">DECRIPCION:{{proyects.Descripcion}}</p>
      
      
    </div>
  </div>
</div>

  <div class="cardColor mb-3">
    <div class="container-video">
      
      <iframe id ="video" controls autoplay title="vimeo-player" src="https://player.vimeo.com/video/496712879?h=004614cf9d"  allowfullscreen></iframe>
   
  </div>
    <div class="card-body1">
      <p class="card-text">PROYECTO:</p>
      <p class="card-text">DECRICPCION:</p>
      
    </div>
  </div>
