<section class="acerca_de" id="acerca_de">
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
        
      <span >ACERCA DE MI</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">create </span></button>
        <button   id="boton_agregar" ><span class="material-icons-outlined">
          add
      </span></button>
      <button   id="boton_eliminar" > <span class="material-icons-outlined">
          delete
      </span></button>
    </div>
    </div>
    <div class="row justify-content-around estilos2">
        
        <div class="col acerca_de_contenido">
          
          
        <p id="contenido_acerca_de"> {{datosPorfolio.about}}</p>
        
        
        </div>
        <div class="col container-md">
          <div container="imagenPerfilContenedor">
        <img id="imagenAcercaDe" [src]="datosPorfolio.imgAbout" alt="foto yo">
          </div>
        </div> 
     
    </div>
</section>


