<footer>
    <div  class="container-fluid">
      <div class="row">
        <div class="col align-self-start ">
          
          <ul class="nav estilo_footer">
            <li class="nav_item" >
              <a  href=""><img  [src]="datosPorfolio.footerlogo1" alt="Linkedin"  class="d-inline-block img_footer ">
                
              </a>
            </li>
            <li class="nav_item">
              <a  href=""><img  [src]="datosPorfolio.footerlogo2" alt="instagram"  class="d-inline-block img_footer">
               
              </a>
            </li>
            <li class="nav_item">
              <a href=""> <img [src]="datosPorfolio.footerlogo3" alt="github"  class="d-inline-block  img_footer">
               
              </a>
            </li>
         
          </ul>
          
          <div class="col align-self-start footerDatos" >
            copyright@2022 guadalupe frias
          </div>
          <div class="col align-self-start ">
          <p class="footerDatos" id="ubication"></p>
        </div>
      
        </div>
        
        <div class="col d-flex align-items-end flex-column align-self-center">
         <ul class="estilo_ulFooter">
          <li ><a class="footer_link active" aria-current="page" href="#acerca_de">about me</a></li>
          <li ><a class="footer_link active" aria-current="page" href="#acerca_de">proyects</a></li>
          <li > <button class="footer_btn" type="submit" data-bs-toggle="modal" data-bs-target="#loguinModal">Login</button></li>
          <li ><button class="footer_btn" type="submit" data-bs-toggle="modal" data-bs-target="#contactoModal">Contact</button></li>
         </ul>
        </div>
      </div>
    </div>
  </footer>
