<div class="containerS ">
     <div class="estilos1">
        <div class="row align-self-end ">
          
          <div class="col-5 container-md datos_home">
           
          
         <p  class="nombre" id="nombre">{{datosPorfolio.name}}</p>
         <p class="apellido" id="apellido"> {{datosPorfolio.apellido}} </p>
          
          </div>
          <div class=" col-2"></div>
          <div class="col-5 container-md ">
            
        <img id="imagenPerfil" [src]="datosPorfolio.img" alt="foro perfil">
        
        </div>
        <div class="col-12 justify-content-around universo">
          <span >{{datosPorfolio.message}}</span>
          </div>
        </div>
      </div>
    </div>
  
