<div class="containerS ">
     <div class="estilos1">
        <div class="row align-self-end ">
          
          <div class="col-5 container-md datos_home">
            
          
         <p class="nombre" id="nombre">Guadalupe</p>
         <p class="apellido" id="apellido">Frias </p>
          
          </div>
          <div class=" col-2"></div>
          <div class="col-5 container-md ">
            
        <img id="imagenPerfil" src="./assets//src/gif.gif" alt="foro perfil">
        
        </div>
        <div class="col-12 justify-content-around universo">
          <span >bienvenidos a nuestra galaxia</span>
          </div>
        </div>
      </div>
    </div>
  
