<section class="Proyectos" id="proyectos">
    <div class=" row estilo container_titulo">
      <div class="col-8 justify-content-around titulo">
      <span >PROYECTOS</span>
      </div>
      <div class="col-4 justify-content-end align-items-end icons">
        <button   id="boton_edicion" ><span class="material-icons-outlined">
          create
        </span></button>
        <button   id="boton_agregar" ><span class="material-icons-outlined">
            add
        </span></button>
        <button   id="boton_eliminar" ><span class="material-icons-outlined">
            delete
        </span></button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="container-video">
      <video id="video" controls autoplay>
        <source src="./assets/src/Comp 1.mp4" type="video/mp4">
        Tu navegador no soporta HTML5 video.
    </video>
    </div>
      <div class="card-body">
        <h5 class="card-title">PROYECTO:</h5>
        <p class="card-text">DECRICPCION:</p>
        
      </div>
    </div>

    <div class="card mb-3">
      <div class="container-video">
        
        <iframe id ="video" controls autoplay title="vimeo-player" src="https://player.vimeo.com/video/496712879?h=004614cf9d"  allowfullscreen></iframe>
     
    </div>
      <div class="card-body">
        <h5 class="card-title">PROYECTO:</h5>
        <p class="card-text">DECRICPCION:</p>
        
      </div>
    </div>
   </section>
